<!DOCTYPE html>
<html lang="en">

<head>

<meta charset="UTF-8">

<meta name="viewport" content="width=device-width, initial-scale=1.0">

<title>About OptiCrop</title>

<link rel="stylesheet"
href="{{ url_for('static',filename='css/style.css') }}">

</head>

<body>

<header>

<h1>🌱 OptiCrop</h1>

<nav>

<a href="/">Home</a>

<a href="/dashboard">Dashboard</a>

<a href="/about">About</a>

<a href="/contact">Contact</a>

</nav>

</header>

<div class="container">

<h2>About OptiCrop</h2>

<p>

OptiCrop is an Artificial Intelligence based Crop Recommendation System.

It recommends the most suitable crop by analyzing

soil nutrients and environmental conditions.

</p>

<br>

<h3>Objectives</h3>

<ul>

<li>Recommend suitable crops.</li>

<li>Increase agricultural productivity.</li>

<li>Reduce wrong crop selection.</li>

<li>Support farmers using AI.</li>

</ul>

<br>

<h3>Technology Used</h3>

<table>

<tr>

<td>Frontend</td>

<td>HTML CSS</td>

</tr>

<tr>

<td>Backend</td>

<td>Python Flask</td>

</tr>

<tr>

<td>Machine Learning</td>

<td>Scikit Learn</td>

</tr>

<tr>

<td>Dataset</td>

<td>Crop Recommendation Dataset</td>

</tr>

</table>

<br>

<a href="/">

<button>

Back Home

</button>

</a>

</div>

<footer>

<p>

©2026 OptiCrop

</p>

</footer>

</body>

</html>